

body {
    font-feature-settings: 'kern' 1,'onum' 1,'liga' 0,'tnum' 1;
    -webkit-tap-highlight-color: transparent;
    background-color: #fff;
    color: #2a2a2a;
    font-size: 18px;
     margin: 0;
    padding: 0;
}

/*.loaded-canela .tk-canela {
    font-family: 'Canela Web',Georgia,Times,serif
}
.loaded-atlas .tk-atlas {
    font-family: 'Atlas Grotesk Web',Helvetica,Arial,sans-serif;
}*/

.intro {
  /* margin: 5rem auto 9rem; */
  background: rgba(0, 0, 0, 0.9);
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  margin-bottom: 5rem;
}

.smaller-head {

    font-size: 1.1rem;
    font-weight: 400;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    letter-spacing: .2em;
    text-align: center;
    color: white;
    line-height: 1;
    margin-bottom: 1rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing:grayscale;
}

.intro-headline {
  max-width: 50rem;
  margin: 0 auto 2rem auto;
  padding: 0 1rem;
  text-align: center;
  line-height: 1;
  font-weight: bold;
  font-size: 8rem;
  font-weight: 100;
  text-transform: capitalize;
  color: white;
}

h2 {
	text-align: center;
	font-weight: bold;
	font-size: 3rem;
	text-transform: capitalize;
}




.intro-byline {
  font-size: 0.8rem;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 3rem;
  padding: 0 1rem;
      font-family: 'Roboto', sans-serif;
  position: absolute;
  bottom: 0px;
  color: rgba(255, 255, 255, 0.25);
  font-weight: 400;
  left: 0px;
  right: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing:grayscale;
}

#scroll {
  position: relative;
}

.scroll__graphic {
  position: absolute;
  top: 0;
  left: 0;
  bottom: auto;
  width: 100%;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.scroll__graphic.is-fixed {
  position: fixed;
}

.scroll__graphic.is-bottom {
  bottom: 0;
  top: auto;
}

.scroll__graphic .chart {
	left: 50%;
  position: absolute;
  right: 1rem;
  top: 50%;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.scroll__text {

  padding: 0 1rem;
  max-width: 720px;

}

.step {
  opacity: 0;
  padding: 1rem;
  margin: 0 auto;
  text-align: center;
}

.step.is-active {
  opacity: 1;
}

.jumpgif {
	max-width: 100%;
	height: auto;
	display: block;
    margin: 0 auto;
}

/*table {
	 border-collapse: separate;
	margin: 0.5rem auto;
    width: 100%;
    max-width: 25rem;
    table-layout: fixed;
    font-size: .85rem
}
table tr {
    border-bottom: 1px #eee;

}*/

table {
    border-collapse: collapse;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

table tr.first
{
    border-bottom:1px solid #eee;
    font-weight: 900;
}


table tbody {
	border-collapse: separate;
}

.jump-name {
	text-align: center;
    text-transform: uppercase;
	font-weight: bold;
	font-size: 2.5rem;
	text-transform: capitalize;
}

img.jump-gif {
	width: 100%;
	display: block;
	margin: 0 auto;

}

img.jump-diagram {
	width: 100%;
	display: block;
	margin: 0 auto;

}
tr td {
	font-size: 1rem;
	padding: 0.5rem;
}
td.label {
}

td.value {
}

.timeline svg {
	display: block;
	margin: 0 auto;
}

.wrprogression svg {

	display: block;
	margin: 0 auto;

}

.step-container {
	margin: 0 auto;
}


.timeline-tool-tip {
    position: absolute;
    font-family: 'Roboto';
    font-size: 14px;
    z-index: 1000000000;
    text-align: left;
    width: auto;
    color: #353535;
    visibility: hidden;
    pointer-events: all;
    border: 1px solid rgba(193, 193, 193, 0.8);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
    background: white;
    padding: 0.75em;
}
.skater-name {
    text-align: left;
}

.timeline .skater .item {
	fill: #ccc;
}

.timeline .skater .item.hover {
	fill: #999;
	cursor: pointer;
}


.timeline .skater .item.is-playing {
	fill: #ff0900;
}

.timeline-tool-tip .play {
	color: #535353;
	text-transform: uppercase;
	font-size: 10px;
	font-weight:900;
}

.timeline-tool-tip .skater-time {
	color: #999999;
	text-transform: uppercase;
}

.timeline-tool-tip .skater-name {
	font-weight: 700;
}

.video-container {
	text-align: center;
	display: block;
	margin: 0 auto;
	font-family: 'Roboto';
	margin-bottom: 0px;

}

.video {
	margin-bottom: 15px;
}
.year-label {
	color: #999999;
	text-transform: uppercase;
	font-size: 12px;
}

.desc-label {

}

.name-label {
	font-size: 20px;
	font-weight: 700;
}

.y-axis-lines {

    stroke: #d9d9d9;
    stroke-width: 1px;
    stroke-dasharray: 2px 2px;
    shape-rendering: crispEdges;

}

.x-axis-lines {

    stroke: #878787;
    stroke-width: 1px;
    stroke-dasharray: 2px 2px;
    shape-rendering: crispEdges;

}

.skater-div {
	display: inline-block;
	margin: 0 auto;
}

.revolution {

}

.jump-sequence .individual-jump {
	fill: #ccc;
	stroke:#fff;
}

.jump-sequence.hover .individual-jump {
	fill: #999;
	stroke: #333;
	cursor: pointer;
}

.numquads {
	display:inline-block;
	text-align: center;
	  border:1px solid black;
	  height: 3.25rem;
	  width: 3.25rem;
    border-radius:100px;
    -webkit-border-radius:100px;
    -moz-border-radius:100px;
    border-width: 4px;
    font-size: 2.5rem;
    font-family: Roboto;
    font-weight: 700;
}
.header .namecountrydesc {
	display: inline-block;
}
.namecountrydesc .namecountry {
	display: block;
	font-family: Roboto;
	font-weight: 700;
}
.namecountrydesc .desc {
	display: block;
	color: #999;
	font-family: Roboto;
	font-size: 14px;
	width: 202.5px;
}

.namecountry img {
	margin-left: 5px;
}
.skater-div .header {
	position:relative;
	left: 25px;
	height: 4rem;
}

.quadsdiv {
	display: inline-block;
	height: 3.5rem;
	width: 9rem;
}

.quadsdiv .quads {
	display: blo

}

.quadjumps {
	width: 5rem;
	display: inline-block;
	text-transform: uppercase;
	font-family: Roboto;
	color: #999;
	font-weight: 700;


}

.quadjumps {
	height:3.5rem;
	
		
}
.quadjumps .quad {
	display: block;
	text-align:center;
	
}

.quadjumps .jumps {
	display: block;
	text-align:center;
	
}
.jump-sequence .connector {
    stroke: #d8d8d8;
    stroke-width: 1.5px;
    shape-rendering: crispEdges;
    
}

.jump-sequence.hover .connector {
	stroke: #333;
	cursor: pointer;
	
}

/*.jumpsdiv {
	position: relative;
	top: 2rem;
}*/

.jumps-tool-tip {
    position: absolute;
    font-family: 'Roboto';
    font-size: 14px;
    z-index: 1000000000;
    text-align: left;
    width: auto;
    color: #353535;
    visibility: hidden;
    pointer-events: all;
    border: 1px solid rgba(193, 193, 193, 0.8);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
    background: white;
    padding: 0.4em;
}

.skater-div .skater-images {
	position: relative;
	pointer-events: none;

}

.skater-div .skater-images img {
	position: absolute;
	height: 290px;
	opacity: 0.3;
}

.jumpsmen {
	max-width: 1440px;
	text-align: center;
}
.jumpswomen {
	max-width: 1440px;
	text-align: center;
}
.jumpsmen .skater-div .skater-images .sp {
	left: 17%;
}

.skater-div .skater-images .fs {
	left: 60%;
}

.jumpswomen .skater-div .skater-images .sp {
	left: 20%;
}

.legend-svg {
	font-family: 'Roboto';
	display: block;
	margin: auto;
}

.legendSize circle {
	fill: #dddddd;
}

.legend-svg .legendTitle {
	font-size: 14px;
	text-align: center;
}

.legend-svg .second-half-title {
	font-size: 14px;
}

.legendCells .cell .label {
	font-size: 12px;
}

.secondhalflegend .second-half-title {
	width: 300px;
}

.medals .medal {
  opacity: 0.5;

}
.medals .medal.hover {
  cursor: pointer;
   stroke-width: 2px;
}

.histogram-chart-toggle-item{
       margin-right: 10px;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 14px;
    border: 1px solid rgb(218, 217, 227);
    color: black;
    cursor: pointer;
    /* border: solid 1px rgba(127, 125, 156, 0.75); */
    padding: 0px 7px;
    /* box-shadow: inset 0 1px 2px rgba(0,0,0,0.08); */
    margin-left: -13px;
    background: white;
    text-align: center;
    line-height: 23px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 12px;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: #fff;
    /* height: 28px; */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.top-row-chart-toggle-wrapper{
    right: 0px;
    top: 70px;
    margin: 0 auto;
    width: 80px;
    left: 0px;
    /* -webkit-transform: translate(105px,0px); */
    transform: translate(29px,0px);
    /* display: none; */
  }
 .toggle-selected {
    font-weight: 500;
    background-color: #F5F5F5;
    color: black;
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    border-color: #dad9e3;
}
  .histogram-chart-toggle-type{
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  position: relative;
  /* display: none; */
  position: absolute;
  left: 0px;
}
 .front-curve {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.back-curve {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.wr-y-axis text {
  font-family: "Roboto";
  font-size: 12px;
      
}

.wrlines path {
    stroke: #808080;
    stroke-width: 1px;
    stroke-dasharray: 5px 5px;
    shape-rendering: crispEdges;

}
.wr-circles circle {
  fill: #878787;

}
.wr-circles circle.hover {
  stroke: black;

}

.wr-annotation {
  font-family: 'Roboto';
  color: #535353;
  text-transform: uppercase;
  font-size: 10px;
  font-weight:900;
}

.timeline-tool-tip img {
  margin-left: 7.5px;
}
.jumps-tooltip-row {
  display: block;
  width: 140px;
}
.jumps-tooltip-col-header {

  display: inline-block;
  width: 70px;
    border-bottom: 1px solid #cccccc;
    text-align:center;

}
.jumps-tooltip-col {

  display: inline-block;
  width: 70px;
   text-align:center;
}