

body {
    font-feature-settings: 'kern' 1,'onum' 1,'liga' 0,'tnum' 1;
    -webkit-tap-highlight-color: transparent;
    background-color: #fff;
    color: #2a2a2a;
    font-size: 18px;
     margin: 0;
    padding: 0;
}

/*.loaded-canela .tk-canela {
    font-family: 'Canela Web',Georgia,Times,serif
}
.loaded-atlas .tk-atlas {
    font-family: 'Atlas Grotesk Web',Helvetica,Arial,sans-serif;
}*/

.intro {
  /* margin: 5rem auto 9rem; */
  background: rgba(0, 0, 0, 0.9);
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  margin-bottom: 5rem;
}

.smaller-head {

    font-size: 1.1rem;
    font-weight: 400;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    letter-spacing: .2em;
    text-align: center;
    color: white;
    line-height: 1;
    margin-bottom: 1rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing:grayscale;
}

.intro-headline {
  max-width: 50rem;
  margin: 0 auto 2rem auto;
  padding: 0 1rem;
  text-align: center;
  line-height: 1;
  font-weight: bold;
  font-size: 8rem;
  font-weight: 100;
  text-transform: capitalize;
  color: white;
}

h2 {
	text-align: center;
	font-weight: bold;
	font-size: 3rem;
	text-transform: capitalize;
}




.intro-byline {
  font-size: 0.8rem;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 3rem;
  padding: 0 1rem;
      font-family: 'Roboto', sans-serif;
  position: absolute;
  bottom: 0px;
  color: rgba(255, 255, 255, 0.25);
  font-weight: 400;
  left: 0px;
  right: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing:grayscale;
}

#scroll {
  position: relative;
}

.scroll__graphic {
  position: absolute;
  top: 0;
  left: 0;
  bottom: auto;
  width: 100%;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.scroll__graphic.is-fixed {
  position: fixed;
}

.scroll__graphic.is-bottom {
  bottom: 0;
  top: auto;
}

.scroll__graphic .chart {
	left: 50%;
  position: absolute;
  right: 1rem;
  top: 50%;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.scroll__text {

  padding: 0 1rem;
  max-width: 720px;

}

.step {
  opacity: 0;
  padding: 1rem;
  margin: 0 auto;
  text-align: center;
}

.step.is-active {
  opacity: 1;
}

.jumpgif {
	max-width: 100%;
	height: auto;
	display: block;
    margin: 0 auto;
}

/*table {
	 border-collapse: separate;
	margin: 0.5rem auto;
    width: 100%;
    max-width: 25rem;
    table-layout: fixed;
    font-size: .85rem
}
table tr {
    border-bottom: 1px #eee;

}*/

table {
    border-collapse: collapse;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

table tr.first
{
    border-bottom:1px solid #eee;
    font-weight: 900;
}


table tbody {
	border-collapse: separate;
}

.jump-name {
	text-align: center;
    text-transform: uppercase;
	font-weight: bold;
	font-size: 2.5rem;
	text-transform: capitalize;
}

img.jump-gif {
	width: 100%;
	display: block;
	margin: 0 auto;

}

img.jump-diagram {
	width: 100%;
	display: block;
	margin: 0 auto;

}
tr td {
	font-size: 1rem;
	padding: 0.5rem;
}
td.label {
}

td.value {
}

.timeline svg {
	display: block;
	margin: 0 auto;
}

.step-container {
	margin: 0 auto;
}


.timeline-tool-tip {
    position: absolute;
    font-family: 'Roboto';
    font-size: 14px;
    z-index: 1000000000;
    text-align: left;
    width: auto;
    color: #353535;
    visibility: hidden;
    pointer-events: all;
}
.skater-name {
    text-align: left;
}

.timeline .skater .item {
	fill: #ccc;
}

.timeline .skater .item.hover {
	fill: #999;
}


.timeline .skater .item.is-playing {
	fill: #ff0900;
}

.timeline-tool-tip .play {
	color: #535353;
	text-transform: uppercase;
	font-size: 10px;
	font-weight:900;
}

.timeline-tool-tip .skater-time {
	color: #999999;
	text-transform: uppercase;
}

.timeline-tool-tip .skater-name {
	font-weight: 700;
}

